{% if block is defined and block is not empty %}
    {% set faqDatas = craft.entries()
        .section('faq')
        .orderBy('RAND()')
        .limit(5)
        .all() %}

    {% if faqDatas is not empty %}
        <section id="faq" class="faq section">
            <div class="container section-title" data-aos="fade-up">
                <span>{{ block.title }}</span>
                <h2>{{ block.title }}</h2>
                {% if block.subline is not empty %}
                    <p>{{ block.subline }}</p>
                {% endif %}
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="faq-container">
                            {% if block.selectFaq is not empty %}
                                {% set faqDatas = block.selectFaq.all() %}
                            {% endif %}
                            {% for faq in faqDatas %}
                                <div class="faq-item {{ loop.first ? 'faq-active' : '' }}"
                                     data-aos="fade-up"
                                     data-aos-delay="{{ 200 + loop.index0 * 100 }}"
                                >

                                    <i class="faq-icon bi bi-question-circle"></i>
                                    <h3>{{ faq.question }}</h3>
                                    <div class="faq-content">
                                        {{ faq.answer }}
                                    </div>
                                    <i class="faq-toggle bi bi-chevron-right"></i>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}
