{% if block is defined and block is not empty %}
    {% import "_macros/image.twig" as img %}

    <section id="features" class="features section">
        <div class="container section-title" data-aos="fade-up">
            <span>{{ block.title }}</span>
            <h2>{{ block.title }}</h2>
            {% if block.subline is not empty %}
                <p>{{ block.subline }}</p>
            {% endif %}
        </div>

        {% set dataBoxes = block.textImageBox.all() %}
        <div class="container">
            {% for data in dataBoxes %}
                {% set isOdd = loop.index is odd %}

                <div class="row gy-4 align-items-center features-item">
                    <div class="col-md-5 d-flex align-items-center {{ isOdd ? 'order-1 order-md-2' : '' }}"
                         data-aos="zoom-out"
                    >
                        {% set asset = data.image.one() %}
                        {{ img.renderAsset(asset, {
                            class: "img-fluid",
                        }) }}
                    </div>

                    <div class="col-md-7 {{ isOdd ? 'order-2 order-md-1' : '' }}"
                         data-aos="fade-up"
                    >
                        <h3>{{ data.title }}</h3>
                        {{ data.text }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
