{% extends 'pages/_entrytypes/page.twig' %}

{% block content %}
    {% import "_macros/image.twig" as img %}

    {% set drone = craft.entries()
        .section('drones')
        .orderBy('RAND()')
        .one() %}

    {% set mapIndex = craft.entries()
        .section('pages')
        .type('mapIndex')
        .one() %}

    <section id="hero" class="hero section dark-background">

        {% set asset = entry.bgImage.one() %}
        {{ img.renderAsset(asset, {
            class: "hero-bg",
            dataAttributes: {
                'aos': 'fade-in'
            }
        }) }}

        <div class="container">
            <div class="row gy-4 d-flex justify-content-between">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h2 data-aos="fade-up">{{ entry.headline }}</h2>
                    <p data-aos="fade-up" data-aos-delay="100">{{ entry.subline }}</p>

                    <form class="form-search d-flex align-items-stretch gap-3 mb-3 position-relative">
                        <div class="drone-input position-relative">
                            <input
                                type="text"
                                class="form-control border-0"
                                placeholder="Bsp: {{ drone.title }}"
                                autocomplete="off"
                                id="drone-search"
                            >

                            <input type="hidden" id="drone-id">

                            <div id="drone-results"></div>
                        </div>

                        <input
                                type="datetime-local"
                                class="form-control border-0"
                        >

                        <button type="submit" class="btn btn-primary px-4" data-map-slug="{{ mapIndex ? mapIndex.slug : '' }}">
                            {{ 'Search'|t('site') }}
                        </button>
                    </form>
                </div>

                {% set asset = entry.image.one() %}
                {% if asset is not empty %}
                    <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                        {{ img.renderAsset(asset, {
                            class: "img-fluid mb-3 mb-lg-0"
                        }) }}
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

    {% include 'contentmatrix/_index.twig' %}
{% endblock %}